@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100dvh;
    background-color: greenyellow;
}
#BtnLeave{
    width: 10dvh;
    height: 3dvh;
    background-color: red;
    color: white;
    border-radius: 1dvh;
    cursor: pointer;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80dvh;
}
footer{
    width: 100%;
    height: 5dvh;
    background-color: #45a049;
    border: 2px solid black;
}

form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
    font-size: 5em;
    font-family: 'Comic Neue', sans-serif ;
    margin-bottom: 5dvh;
}
label{
    font-size: 3em;
    font-family: 'Comic Neue', sans-serif ;
}
#divBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#btnCadastrar, #btnCancelar{
    width: 20dvh;
    height: 7dvh;
}
#divImagemResiduo {
    width: 70dvh;
    height: 80dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#divNomeResiduo, #divTipoResiduo, #divDescricaoResiduo{
    display: flex;
    align-items: center;
    margin-bottom: 3.5dvh;
}
#nomeResiduo{
    width: 47dvh;
    height: 5dvh;
    border-radius: 1dvh;
    margin-left: 2dvh;
    background-color: #45a049;
    color: white;
    padding-left: 1dvh;
    border: 3px solid black;
    font-family: 'Comic Neue', sans-serif;
    font-size: larger;
}
#selectTipoLixo{
    width: 34dvh;
    height: 6dvh;
    border-radius: 1dvh;
    margin-left: 2dvh;
    background-color: #45a049;
    color: white;
    padding-left: 1dvh;
    border: 3px solid black;
    font-family: 'Comic Neue', sans-serif;
    font-size: larger;
    cursor: pointer;
}
option[value = "1"]{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
option[value = "2"]{
    background-color:rgb(225, 64, 64);
    color: black;
}
option[value = "3"]{
    background-color: rgb(55, 55, 255);
    color: black;
}
option[value = "4"]{
    background-color: rgb(111, 56, 40);
    color: black;
}
#descricaoResiduo{
    width: 40dvh;
    height: 12dvh;
    border-radius: 1dvh;
    margin-left: 2dvh;
    background-color: #45a049;
    color: white;
    padding-left: 1dvh;
    border: 3px solid black;
    font-family: 'Comic Neue', sans-serif;
    font-size: larger;
}


.custom-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.custom-file-label:hover {
    background-color: #45a049;
}
input[type="file"] {
    display: none;
}
#preview {
    border: 2px solid #ccc;
    border-radius: 5px;
}
#btnCancelar{
    width: 30dvh;
    height: 5dvh;
    background-color: transparent;
    color: red;
    font-family: 'Comic Neue', sans-serif ;
    font-size: 2rem;
    border-radius: 1dvh;
    cursor: pointer;

    transition-duration: 0.5s;
}
#btnCancelar:hover{
    background-color: red;
    color: white;
}
#btnCadastrar{
    width: 30dvh;
    height: 5dvh;
    background-color: transparent;
    color: #45a049;
    font-family: 'Comic Neue', sans-serif ;
    font-size: 2rem;
    border-radius: 1dvh;
    cursor: pointer;

    transition-duration: 0.5s;
}
#btnCadastrar:hover{
    background-color: #45a049;
    color: white;
}
#preview{
    height: 30dvh;
    aspect-ratio: 1 / 1;
}


