<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style src="style.css"></style>
    <title>Document</title>
</head>
<div id="divLogo">
    <a href="">
        <img id="imgLogo" src="../../img/LogoReciclaIF3.png" alt="">
    </a>
    <div id="divLabel">
        <label id="LogoIfrs"> <b>INSTITUTO FEDERAL <br> DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA <br> Rio Grande do
                Sul</b></label>
    </div>
</div>
<div id="divUser">
    <button id="BtnLeave">Sair</button>
    <div id="divUserNew">
        <div id="User">
            <label id="nameUser" for=""><b>Olá, administrador </b></label>
        </div>
        <img id="imgUser" src="../../img/avatar.png" alt="">
    </div>
</div>
</html>


